# Datatype

In [5]:
#integer 
x = 5
y = -10
print("value x ",x)
print("value y ",y)
print(type(x))
print(type(y))

value x  5
value y  -10
<class 'int'>
<class 'int'>

In [7]:
#complex
x = 3 + 5j
y = complex(2, -4)
print(x)

(3+5j)

In [9]:
type (x)

complex

 # Boolean datapye

In [16]:
a = True
b = False
print(type(a))
print(type(b))

<class 'bool'>
<class 'bool'>

# SET

In [23]:
my_set = {1, 2, 3,3}
fruits = {"apple", "banana", "cherry"}
print(my_set)
print(fruits)

{1, 2, 3}
{'apple', 'banana', 'cherry'}

#set can't be show the duplicate value

# Sequence Datatype

In [36]:
# String 
# list 
# tuple 

s = "Hello, World!"
s2 = 'Python'
print(type(s))
my_list = [1, 2, 3]
fruits = ["apple", "banana", "cherry"]

print(type(my_list))

my_tuple = (1, 2, 3)
coordinates = (10.5, 20.6)

print(type(my_tuple))

<class 'str'>
<class 'list'>
<class 'tuple'>

# Dictionary

In [39]:
person = {"name": "Alice", "age": 30, "city": "New York"}
print(person)
print(type(person))

{'name': 'Alice', 'age': 30, 'city': 'New York'}
<class 'dict'>

# None

In [44]:
a = None
print(type(a))
print(None)

<class 'NoneType'>
None

# Frozenset

In [56]:
my_set = {1, 2, 3}
my_set.add(4)  # You can add items
print(my_set)  # Output: {1, 2, 3, 4}


my_frozenset = frozenset([1, 2, 3])
# my_frozenset.add(2)  # This will cause an error because frozenset is immutable.
print(my_frozenset)  # Output: frozenset({1, 2, 3})

{1, 2, 3, 4}
frozenset({1, 2, 3})

In [58]:
# this datatype can't be change such as add and remove